/***********
Basic Layout
************/
/* Requires
   globals.css */
/* Normal Buttons ---------------------- */
/* line 6, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
.button, .qq-upload-button {
  width: auto;
  background: #2ba6cb;
  border: 1px solid #1e728c;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 10px 20px 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-transition: background-color 0.15s ease-in-out;
  -moz-transition: background-color 0.15s ease-in-out;
  -o-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out;
  /* Hovers */
  /* Sizes */
  /* Colors */
  /* Radii */
  /* Layout */
  /* Disabled ---------- */
}
/* line 9, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
.button:hover, .qq-upload-button:hover {
  color: white;
  background-color: #2284a1;
}
/* line 10, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
.button:active, .qq-upload-button:active {
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset;
}
/* line 11, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
.button:focus, .qq-upload-button:focus {
  -webkit-box-shadow: 0 0 4px #2ba6cb, 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: 0 0 4px #2ba6cb, 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  box-shadow: 0 0 4px #2ba6cb, 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  color: white;
}
/* line 14, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
.button.large, .large.qq-upload-button {
  font-size: 17px;
  padding: 15px 30px 16px;
}
/* line 15, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
.button.medium, .medium.qq-upload-button {
  font-size: 14px;
}
/* line 16, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
.button.small, .small.qq-upload-button {
  font-size: 11px;
  padding: 7px 14px 8px;
}
/* line 17, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
.button.tiny, .tiny.qq-upload-button {
  font-size: 10px;
  padding: 5px 10px 6px;
}
/* line 18, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
.button.expand, .expand.qq-upload-button {
  width: 100%;
  text-align: center;
}
/* line 21, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
.button.primary, .primary.qq-upload-button {
  background-color: #2ba6cb;
  border: 1px solid #1e728c;
}
/* line 22, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
.button.primary:hover, .primary.qq-upload-button:hover {
  background-color: #2284a1;
}
/* line 23, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
.button.primary:focus, .primary.qq-upload-button:focus {
  -webkit-box-shadow: 0 0 4px #2ba6cb, 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: 0 0 4px #2ba6cb, 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  box-shadow: 0 0 4px #2ba6cb, 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}
/* line 25, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
.button.success, .success.qq-upload-button {
  background-color: #629632;
  border: 1px solid #3d5d1f;
}
/* line 26, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
.button.success:hover, .success.qq-upload-button:hover {
  background-color: #497025;
}
/* line 27, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
.button.success:focus, .success.qq-upload-button:focus {
  -webkit-box-shadow: 0 0 5px #629632, 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: 0 0 5px #629632, 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  box-shadow: 0 0 5px #629632, 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}
/* line 29, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
.button.alert, .alert.qq-upload-button {
  background-color: red;
  border: 1px solid #b30000;
}
/* line 30, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
.button.alert:hover, .alert.qq-upload-button:hover {
  background-color: #cc0000;
}
/* line 31, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
.button.alert:focus, .alert.qq-upload-button:focus {
  -webkit-box-shadow: 0 0 4px red, 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: 0 0 4px red, 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  box-shadow: 0 0 4px red, 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}
/* line 33, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
.button.secondary, .secondary.qq-upload-button {
  background-color: #cb7a2b;
  color: black;
  border: 1px solid #8c541e;
}
/* line 34, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
.button.secondary:hover, .secondary.qq-upload-button:hover {
  background-color: #a16122;
}
/* line 35, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
.button.secondary:focus, .secondary.qq-upload-button:focus {
  -webkit-box-shadow: 0 0 5px #cb7a2b, 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: 0 0 5px #cb7a2b, 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  box-shadow: 0 0 5px #cb7a2b, 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}
/* line 39, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
.button.radius, .radius.qq-upload-button {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 40, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
.button.round, .round.qq-upload-button {
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  -ms-border-radius: 1000px;
  -o-border-radius: 1000px;
  border-radius: 1000px;
}
/* line 43, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
.button.full-width, .full-width.qq-upload-button {
  width: 100%;
  text-align: center;
  padding-left: 0 !important;
  padding-right: !important;
}
/* line 44, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
.button.left-align, .left-align.qq-upload-button {
  text-align: left;
  text-indent: 12px;
}
/* line 47, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
.button.disabled, .disabled.qq-upload-button, .button[disabled], [disabled].qq-upload-button {
  opacity: 0.6;
  cursor: default;
  background: #2ba6cb;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* Don't use native buttons on iOS */
/* line 51, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
input[type=submit].button, input[type=submit].qq-upload-button, button.button, button.qq-upload-button {
  -webkit-appearance: none;
}

@media only screen and (max-width: 767px) {
  /* line 54, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
  .button, .qq-upload-button {
    display: block;
  }

  /* line 55, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
  button.button, button.qq-upload-button, input[type="submit"].button, input[type="submit"].qq-upload-button {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
/* Correct FF button padding */
@-moz-document url-prefix() {
  /* line 60, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
  button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: none;
    padding: 0;
  }

  /* line 61, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
  input[type="submit"].tiny.button, input[type="submit"].tiny.qq-upload-button {
    padding: 3px 10px 4px;
  }

  /* line 62, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
  input[type="submit"].small.button, input[type="submit"].small.qq-upload-button {
    padding: 5px 14px 6px;
  }

  /* line 63, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
  input[type="submit"].button, input[type="submit"].qq-upload-button, input[type=submit].medium.button, input[type=submit].medium.qq-upload-button {
    padding: 8px 20px 9px;
  }

  /* line 64, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
  input[type="submit"].large.button, input[type="submit"].large.qq-upload-button {
    padding: 13px 30px 14px;
  }
}

/* Buttons with Dropdowns ---------------------- */
/* line 69, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
.button.dropdown, .dropdown.qq-upload-button {
  position: relative;
  padding-right: 44px;
  /* Sizes */
  /* Triangles */
  /* Flyout List */
  /* Split Dropdown Buttons */
}
/* line 72, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
.button.dropdown.large, .dropdown.large.qq-upload-button {
  padding-right: 60px;
}
/* line 73, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
.button.dropdown.small, .dropdown.small.qq-upload-button {
  padding-right: 28px;
}
/* line 74, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
.button.dropdown.tiny, .dropdown.tiny.qq-upload-button {
  padding-right: 20px;
}
/* line 77, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
.button.dropdown:after, .dropdown.qq-upload-button:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: solid 6px;
  border-color: white transparent transparent transparent;
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -2px;
}
/* line 78, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
.button.dropdown.large:after, .dropdown.large.qq-upload-button:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: solid 7px;
  border-color: white transparent transparent transparent;
  margin-top: -3px;
  right: 30px;
}
/* line 79, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
.button.dropdown.small:after, .dropdown.small.qq-upload-button:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: solid 5px;
  border-color: white transparent transparent transparent;
  margin-top: -2px;
  right: 14px;
}
/* line 80, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
.button.dropdown.tiny:after, .dropdown.tiny.qq-upload-button:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: solid 4px;
  border-color: white transparent transparent transparent;
  margin-top: -1px;
  right: 10px;
}
/* line 83, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
.button.dropdown > ul, .dropdown.qq-upload-button > ul {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  display: none;
  position: absolute;
  left: -1px;
  background: #fff;
  background: rgba(255, 255, 255, 0.95);
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid #cccccc;
  border-top: none;
  min-width: 100%;
  z-index: 40;
}
/* line 85, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
.button.dropdown > ul li, .dropdown.qq-upload-button > ul li {
  cursor: pointer;
  padding: 0;
  min-height: 18px;
  line-height: 18px;
  margin: 0;
  white-space: nowrap;
  list-style: none;
}
/* line 86, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
.button.dropdown > ul li a, .dropdown.qq-upload-button > ul li a {
  display: block;
  color: #555;
  font-size: 13px;
  font-weight: normal;
  padding: 6px 14px;
  text-align: left;
}
/* line 87, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
.button.dropdown > ul li:hover, .dropdown.qq-upload-button > ul li:hover {
  background-color: #e3f4f9;
  color: #222;
}
/* line 88, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
.button.dropdown > ul li.divider, .dropdown.qq-upload-button > ul li.divider {
  min-height: 0;
  padding: 0;
  height: 1px;
  margin: 4px 0;
  background: #ededed;
}
/* line 92, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
.button.dropdown.up > ul, .dropdown.up.qq-upload-button > ul {
  border-top: 1px solid #cccccc;
  border-bottom: none;
}
/* line 94, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
.button.dropdown ul.no-hover.show-dropdown, .dropdown.qq-upload-button ul.no-hover.show-dropdown {
  display: block !important;
}
/* line 96, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
.button.dropdown:hover > ul.no-hover, .dropdown.qq-upload-button:hover > ul.no-hover {
  display: none;
}
/* line 102, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
.button.dropdown.split, .dropdown.split.qq-upload-button {
  padding: 0;
  position: relative;
  /* Sizes */
  /* Triangle Spans */
  /* Colors */
}
/* line 104, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
.button.dropdown.split:after, .dropdown.split.qq-upload-button:after {
  display: none;
}
/* line 105, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
.button.dropdown.split:hover, .dropdown.split.qq-upload-button:hover {
  background-color: #2ba6cb;
}
/* line 106, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
.button.dropdown.split.alert:hover, .dropdown.split.alert.qq-upload-button:hover {
  background-color: red;
}
/* line 107, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
.button.dropdown.split.success:hover, .dropdown.split.success.qq-upload-button:hover {
  background-color: #629632;
}
/* line 108, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
.button.dropdown.split.secondary:hover, .dropdown.split.secondary.qq-upload-button:hover {
  background-color: #cb7a2b;
}
/* line 111, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
.button.dropdown.split > a, .dropdown.split.qq-upload-button > a {
  color: white;
  display: block;
  padding: 10px 50px 11px 20px;
  -webkit-transition: background-color 0.15s ease-in-out;
  -moz-transition: background-color 0.15s ease-in-out;
  -o-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out;
}
/* line 112, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
.button.dropdown.split > a:hover, .dropdown.split.qq-upload-button > a:hover {
  background-color: #2284a1;
}
/* line 114, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
.button.dropdown.split.large > a, .dropdown.split.large.qq-upload-button > a {
  padding: 15px 75px 16px 30px;
}
/* line 115, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
.button.dropdown.split.small > a, .dropdown.split.small.qq-upload-button > a {
  padding: 7px 35px 8px 14px;
}
/* line 116, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
.button.dropdown.split.tiny > a, .dropdown.split.tiny.qq-upload-button > a {
  padding: 5px 25px 6px 10px;
}
/* line 119, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
.button.dropdown.split > span, .dropdown.split.qq-upload-button > span {
  background-color: #2ba6cb;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 30px;
  border-left: 1px solid #1e728c;
  -webkit-box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5) inset;
  box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5) inset;
  -webkit-transition: background-color 0.15s ease-in-out;
  -moz-transition: background-color 0.15s ease-in-out;
  -o-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out;
}
/* line 120, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
.button.dropdown.split > span:hover, .dropdown.split.qq-upload-button > span:hover {
  background-color: #2284a1;
}
/* line 121, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
.button.dropdown.split > span:after, .dropdown.split.qq-upload-button > span:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: solid 6px;
  border-color: white transparent transparent transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -6px;
  margin-top: -2px;
}
/* line 123, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
.button.dropdown.split.large span, .dropdown.split.large.qq-upload-button span {
  width: 45px;
}
/* line 124, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
.button.dropdown.split.small span, .dropdown.split.small.qq-upload-button span {
  width: 21px;
}
/* line 125, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
.button.dropdown.split.tiny span, .dropdown.split.tiny.qq-upload-button span {
  width: 15px;
}
/* line 127, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
.button.dropdown.split.large span:after, .dropdown.split.large.qq-upload-button span:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: solid 7px;
  border-color: white transparent transparent transparent;
  margin-top: -3px;
  margin-left: -7px;
}
/* line 128, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
.button.dropdown.split.small span:after, .dropdown.split.small.qq-upload-button span:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: solid 4px;
  border-color: white transparent transparent transparent;
  margin-top: -1px;
  margin-left: -4px;
}
/* line 129, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
.button.dropdown.split.tiny span:after, .dropdown.split.tiny.qq-upload-button span:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: solid 3px;
  border-color: white transparent transparent transparent;
  margin-top: -1px;
  margin-left: -3px;
}
/* line 132, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
.button.dropdown.split.alert > span, .dropdown.split.alert.qq-upload-button > span {
  background-color: red;
  border-left-color: #b30000;
}
/* line 133, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
.button.dropdown.split.success > span, .dropdown.split.success.qq-upload-button > span {
  background-color: #629632;
  border-left-color: #3d5d1f;
}
/* line 134, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
.button.dropdown.split.secondary > span, .dropdown.split.secondary.qq-upload-button > span {
  background-color: #cb7a2b;
  border-left-color: #8c541e;
}
/* line 136, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
.button.dropdown.split.alert > a:hover, .dropdown.split.alert.qq-upload-button > a:hover, .button.dropdown.split.alert > span:hover, .dropdown.split.alert.qq-upload-button > span:hover {
  background-color: #cc0000;
}
/* line 137, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
.button.dropdown.split.success > a:hover, .dropdown.split.success.qq-upload-button > a:hover, .button.dropdown.split.success > span:hover, .dropdown.split.success.qq-upload-button > span:hover {
  background-color: #497025;
}
/* line 138, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
.button.dropdown.split.secondary > a:hover, .dropdown.split.secondary.qq-upload-button > a:hover, .button.dropdown.split.secondary > span:hover, .dropdown.split.secondary.qq-upload-button > span:hover {
  background-color: #a16122;
}

/* Button Groups ---------------------- */
/* line 144, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
ul.button-group {
  list-style: none;
  padding: 0;
  margin: 0 0 12px;
  overflow: hidden;
}
/* line 146, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
ul.button-group li {
  padding: 0;
  margin: 0 0 0 -1px;
  float: left;
}
/* line 147, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
ul.button-group li:first-child {
  margin-left: 0;
}
/* line 151, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
ul.button-group.radius li:first-child a.button, ul.button-group.radius li:first-child a.qq-upload-button, ul.button-group.radius li:first-child a.button.radius, ul.button-group.radius li:first-child a.radius.qq-upload-button, ul.button-group.radius li:first-child a.button.rounded, ul.button-group.radius li:first-child a.rounded.qq-upload-button {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
/* line 152, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
ul.button-group.radius li + li a.button, ul.button-group.radius li + li a.qq-upload-button, ul.button-group.radius li + li a.button.radius, ul.button-group.radius li + li a.radius.qq-upload-button, ul.button-group.radius li + li a.button.rounded, ul.button-group.radius li + li a.rounded.qq-upload-button {
  border-radius: 0;
}
/* line 153, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
ul.button-group.radius li:last-child a.button, ul.button-group.radius li:last-child a.qq-upload-button, ul.button-group.radius li:last-child a.button.radius, ul.button-group.radius li:last-child a.radius.qq-upload-button, ul.button-group.radius li:last-child a.button.rounded, ul.button-group.radius li:last-child a.rounded.qq-upload-button {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
/* line 157, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
ul.button-group.rounded li:first-child a.button, ul.button-group.rounded li:first-child a.qq-upload-button, ul.button-group.rounded li:first-child a.button.radius, ul.button-group.rounded li:first-child a.radius.qq-upload-button, ul.button-group.rounded li:first-child a.button.rounded, ul.button-group.rounded li:first-child a.rounded.qq-upload-button {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  border-top-left-radius: 1000px;
  border-bottom-left-radius: 1000px;
}
/* line 158, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
ul.button-group.rounded li + li a.button, ul.button-group.rounded li + li a.qq-upload-button, ul.button-group.rounded li + li a.button.radius, ul.button-group.rounded li + li a.radius.qq-upload-button, ul.button-group.rounded li + li a.button.rounded, ul.button-group.rounded li + li a.rounded.qq-upload-button {
  border-radius: 0;
}
/* line 159, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
ul.button-group.rounded li:last-child a.button, ul.button-group.rounded li:last-child a.qq-upload-button, ul.button-group.rounded li:last-child a.button.radius, ul.button-group.rounded li:last-child a.radius.qq-upload-button, ul.button-group.rounded li:last-child a.button.rounded, ul.button-group.rounded li:last-child a.rounded.qq-upload-button {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  border-top-right-radius: 1000px;
  border-bottom-right-radius: 1000px;
}
/* line 163, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
ul.button-group.even a.button, ul.button-group.even a.qq-upload-button {
  width: 100%;
}
/* line 164, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
ul.button-group.even.two-up li {
  width: 50%;
}
/* line 165, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
ul.button-group.even.three-up li {
  width: 33.3%;
}
/* line 166, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
ul.button-group.even.three-up li:first-child {
  width: 33.4%;
}
/* line 167, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
ul.button-group.even.four-up li {
  width: 25%;
}
/* line 168, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
ul.button-group.even.five-up li {
  width: 20%;
}

/* line 172, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
div.button-bar {
  overflow: hidden;
}
/* line 173, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
div.button-bar ul.button-group {
  float: left;
  margin-right: 8px;
}
/* line 174, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/buttons.scss */
div.button-bar ul.button-group:last-child {
  margin-left: 0;
}

/* line 18, ../sass/app.scss */
a {
  cursor: pointer;
}

/* line 24, ../sass/app.scss */
.clearfix {
  *zoom: 1;
}
/* line 18, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/_semantic-grid.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 19, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/_semantic-grid.scss */
.clearfix:after {
  clear: both;
}

/* line 29, ../sass/app.scss */
body, html {
  height: 100%;
}

/* line 35, ../sass/app.scss */
#wrapper {
  min-height: 100%;
  margin-bottom: -35px;
  float: left;
  width: 100%;
  *zoom: 1;
}
/* line 18, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/_semantic-grid.scss */
#wrapper:before, #wrapper:after {
  content: "";
  display: table;
}
/* line 19, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/_semantic-grid.scss */
#wrapper:after {
  clear: both;
}

/* line 49, ../sass/app.scss */
#inner-wrapper {
  float: left;
  width: 100%;
  padding-bottom: 55px;
}

/* line 59, ../sass/app.scss */
header {
  min-height: 30px;
  margin-bottom: 30px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #333333), color-stop(100%, #555555));
  background-image: -webkit-linear-gradient(#333333, #555555);
  background-image: -moz-linear-gradient(#333333, #555555);
  background-image: -o-linear-gradient(#333333, #555555);
  background-image: linear-gradient(#333333, #555555);
}
/* line 69, ../sass/app.scss */
header #logo img {
  margin-top: 10px;
  margin-left: 20px;
}
/* line 79, ../sass/app.scss */
header .action {
  height: 100%;
  border-left: 1px solid #222;
  padding: 12px 15px 15px;
  cursor: pointer;
}
/* line 89, ../sass/app.scss */
header .action:last-child {
  border-right: 1px solid #222;
}
/* line 95, ../sass/app.scss */
header .action:hover, header .action a:hover {
  color: white;
  background: #2ba6cb;
}

/* line 113, ../sass/app.scss */
#side-panel li {
  list-style: none;
}
/* line 119, ../sass/app.scss */
#side-panel .content {
  padding-left: 0;
  padding-right: 30px;
}
/* line 128, ../sass/app.scss */
#side-panel .full-width {
  padding-top: 10px;
  padding-bottom: 7px;
  width: 100%;
  float: left;
  border-bottom: 1px solid #ccc;
}
/* line 143, ../sass/app.scss */
#side-panel .user-data {
  padding-left: 63px;
  position: relative;
}
/* line 149, ../sass/app.scss */
#side-panel .user-data img {
  position: absolute;
  top: 4px;
  left: 0;
}
/* line 162, ../sass/app.scss */
#side-panel #artist-search {
  padding-top: 0;
  border-bottom: none;
  margin-bottom: 10px;
}
/* line 174, ../sass/app.scss */
#side-panel #artist-list .user-data {
  margin-bottom: 10px;
  min-height: 65px;
}
/* line 184, ../sass/app.scss */
#side-panel #profile {
  background: white;
  border: none;
  border-right: 1px solid #EEE;
  border-bottom: 1px solid #CCC;
  padding-top: 0;
  padding-bottom: 12px;
}
/* line 198, ../sass/app.scss */
#side-panel #profile img {
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
/* line 204, ../sass/app.scss */
#side-panel #profile .user-data {
  min-height: 48px;
}
/* line 214, ../sass/app.scss */
#side-panel .active .full-width {
  border-bottom: none;
}
/* line 222, ../sass/app.scss */
#side-panel .active .highlight {
  z-index: 30;
  width: 108%;
  position: absolute;
  height: 100%;
  top: -4%;
  left: -4%;
  padding: 15px;
  border-radius: 5px;
}
/* line 244, ../sass/app.scss */
#side-panel .active a img {
  z-index: 31;
}
/* line 252, ../sass/app.scss */
#side-panel .active p {
  position: relative;
  z-index: 32;
}
/* line 260, ../sass/app.scss */
#side-panel .active h6 {
  position: relative;
  z-index: 33;
}

/* line 276, ../sass/app.scss */
#side-panel .load-more, #twitter-feed #next {
  border: 1px solid #C4C4C4;
  background: #E4E4E4;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}
/* line 290, ../sass/app.scss */
#side-panel .load-more h6, #twitter-feed #next h6 {
  margin: 0;
}
/* line 298, ../sass/app.scss */
#side-panel .load-more .start, #twitter-feed #next .start {
  padding: 3px 30px;
  display: none;
  background: url("../images/loader.gif") no-repeat top left;
}
/* line 308, ../sass/app.scss */
#side-panel .load-more a, #twitter-feed #next a {
  font-weight: bold;
}

/* line 316, ../sass/app.scss */
#next {
  margin-bottom: 40px;
}

/* line 326, ../sass/app.scss */
.full {
  width: 100%;
  float: left;
}

/* line 336, ../sass/app.scss */
.alert-box p {
  margin-bottom: 0;
}

/* line 352, ../sass/app.scss */
#content-panel #tweet-filter {
  margin-top: 15px;
  margin-bottom: 10px;
}
/* line 364, ../sass/app.scss */
#content-panel #list-count p {
  border-bottom: 1px solid #ccc;
  padding-bottom: 3px;
  margin-bottom: 18px;
}
/* line 376, ../sass/app.scss */
#content-panel .user-data {
  padding-left: 78px;
  position: relative;
}
/* line 382, ../sass/app.scss */
#content-panel .user-data img {
  position: absolute;
  top: 4px;
  left: 15px;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
/* line 398, ../sass/app.scss */
#content-panel #tweets {
  margin-top: 10px;
}
/* line 402, ../sass/app.scss */
#content-panel #tweets .tweet-body {
  width: 100%;
  float: left;
  margin-bottom: 15px;
}
/* line 417, ../sass/app.scss */
#content-panel #tweets .user {
  width: 70%;
  float: left;
}
/* line 425, ../sass/app.scss */
#content-panel #tweets .date {
  width: 20%;
  float: right;
}
/* line 433, ../sass/app.scss */
#content-panel #tweets .content {
  float: left;
  clear: both;
  width: 100%;
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
}

/* line 451, ../sass/app.scss */
footer {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #333333), color-stop(100%, #555555));
  background-image: -webkit-linear-gradient(#333333, #555555);
  background-image: -moz-linear-gradient(#333333, #555555);
  background-image: -o-linear-gradient(#333333, #555555);
  background-image: linear-gradient(#333333, #555555);
  width: 100%;
  height: 35px;
  float: left;
}
/* line 461, ../sass/app.scss */
footer p {
  margin-top: 6px;
  margin-bottom: 0;
}
/* line 469, ../sass/app.scss */
footer .copyright {
  text-align: right;
}

/***********
SPLASH LAYOUT
************/
/* line 482, ../sass/app.scss */
p#logo-splash {
  float: left;
  text-align: center;
  width: 100%;
}
/* line 490, ../sass/app.scss */
p#logo-splash img {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 35px;
  margin: 0;
}
/* line 502, ../sass/app.scss */
p#logo-splash a {
  background: url("../images/sign-in-with-twitter_0.png");
  width: 450px;
  height: 72px;
  text-align: center;
  display: inline-block;
  margin-bottom: 20px;
}
/* line 516, ../sass/app.scss */
p#logo-splash a span {
  display: none;
}

/* line 530, ../sass/app.scss */
.feature {
  min-height: 200px;
}
/* line 536, ../sass/app.scss */
.feature:last-child {
  border-right: none;
}
/* line 541, ../sass/app.scss */
.feature img {
  border: 1px solid #ccc;
  margin-top: 10px;
}

/* line 553, ../sass/app.scss */
.splash h5 {
  text-align: center;
  line-height: 1.2em;
  border-bottom: 1px solid #CCC;
  border-top: 1px solid #CCC;
  padding-bottom: 8px;
  padding-top: 8px;
  margin-top: 0;
}

/***********
TYPOGRAPHY
************/
/* line 578, ../sass/app.scss */
ul.standard li {
  list-style-position: outside;
  margin-left: 30px;
}

/* line 585, ../sass/app.scss */
header .action {
  text-align: center;
}

/* line 591, ../sass/app.scss */
body {
  font-family: "open-sans",sans-serif;
}

/* line 602, ../sass/app.scss */
p {
  line-height: 1.4em;
}

/* line 608, ../sass/app.scss */
#side-panel h6 {
  margin-top: -4px;
  margin-bottom: 3px;
}

/* line 616, ../sass/app.scss */
.tweet-body p.content {
  font-size: 17px;
  line-height: 1.5em;
  margin-bottom: -2px;
}

/* line 627, ../sass/app.scss */
#content-panel h5, .date, #profile h5 {
  margin-top: 0;
  margin-bottom: 5px;
  line-height: 1.3em;
}

/* line 637, ../sass/app.scss */
h4 {
  margin-top: -5px;
  margin-bottom: 20px;
}

/* line 645, ../sass/app.scss */
#results h4 {
  margin-bottom: 0;
  margin-top: 20px;
}

/* line 653, ../sass/app.scss */
#content-panel h5 span {
  font-size: 14px;
}

/* line 659, ../sass/app.scss */
.date {
  text-align: right;
}

/* line 667, ../sass/app.scss */
#list-count p {
  font-size: 14px;
  text-align: right;
}
/* line 673, ../sass/app.scss */
#list-count p span {
  font-size: 27px;
}

/* line 683, ../sass/app.scss */
.load-more a {
  font-weight: bold;
}

/***********
COLOR
************/
/* line 695, ../sass/app.scss */
div.panel {
  background: #EEECEC;
}

/* line 701, ../sass/app.scss */
#tweets h5 span {
  color: #79cae3;
}

/* line 707, ../sass/app.scss */
.date, footer p {
  color: #aaa;
}

/* line 713, ../sass/app.scss */
header a, #artist-list .active p a, #artist-list .active h6 a {
  color: white;
}

/* line 719, ../sass/app.scss */
#artist-list h6 a {
  color: #777;
}

/* line 725, ../sass/app.scss */
.splash h3 {
  color: #555;
}

/* line 731, ../sass/app.scss */
.found h6 {
  color: #629632;
}

/* line 737, ../sass/app.scss */
.not-found h6 {
  color: red;
}
